<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Message Board</title>
  </head>
  <body>
    <h2><%= title %></h2>
    <% messages.map((msg,index)=>{ %>
    <ul>
      <li>
        ID :-(<%=msg.id%>)
        <ol>
          <li>Username :- <%= msg.username %></li>
          <li>Text :- <%= msg.message %></li>
          <li>Added On :- <%= msg.added %></li>
          <a href="<%=msg.id %>"><button>Details of the message</button></a>
        </ol>
      </li>
    </ul>

    <%}) %>

    <a href="/new">Submit an user form.</a>
  </body>
</html>
